<!DOCTYPE html>
<html>
    <head>
        <title>Saludo</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="shortcut icon" href="/static/img/burro.jpeg"
    </head>
    <body>
        <header><h1>SALUDOS PARA TODOS</h1></header>
        <nav class="inicial">
            <ul>
                <li><a href="/"><strong>Inicio</strong></a></li>
            </ul>
        </nav>
        <form action="/saludo" value="Nombre">
            <label for="input">Nombre:</label>
            <input class="input" type="text" name=nombre>
            <button type="submit"><img src="/static/img/como.png" alt="x"/></button>
        </form>
    </body>
    <footer>
        <p>Copyright. Pagina de prueba saludo 2022</p>
    </footer>
</html>