<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/proyecto_cv/static/mi_cv.css">
    <title>CV Lopez Pablo</title>
</head>
<body>
    <header>
        <img src="/proyecto_cv/img/claudio.jpg" alt="foto-perfil" class="foto-perfil">
        <h1>Pablo Andres López Tarifa</h1>
    </header>
    <main>
        <section class="about-section">
            <h2>Sobre mi</h2>
            <p>Programador, Entusiasta, "Con muchas ganas de seguir aprendiendo y desarrollarme en el mundo de la tecnologia"</p>
        </section>
        <section class="experience-section">
            <section class="work-section">
                <h2>Estudios</h2>
                <ul>
                    <li><strong>Escuela Tecnica nº19 "Alejandro Volta -Tecnico Electronico"</strong></li>
                    <li><strong>Curso "Programacion orientada a objetos -Java"</strong></li>
                    <li><strong>Curso "Programacion orientada a objetos -Python"</strong></li>
                </ul>
            </section>
            <section class="education-section">
                <h2>Experiencia</h2>
                <ul>
                    <li><strong>Servicio tecnico de pc</strong></li>
                    <li><strong>Electronica</strong></li>
                    <li><strong>Electricidad</strong></li>
                </ul>
            </section>
        </section>
        <section class="contact-section">
            <section class="skills-section">
                <h2>Skills</h2>
                <ul>
                    <li><strong>Python</strong></li>
                    <li><strong>Github</strong></li>
                    <li><strong>HTML</strong></li>
                    <li><strong>CCS</strong></li>
                </ul>
            </section>
            <section class="personal-section">
                <h2>Contacto</h2>
                <ul>
                    <li><strong>Email: <a href="pablodos.99@gmail.com">pablodos.99@gmail.com</a></strong></li>
                    <li><strong>Facebook: <a href="https://facebook.com/PABLODOS3K">facebook.com/PABLODOS3K</a></strong></li>
                </ul>
            </section>
        </section>
    </main>
</body>
</html>