<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/mi_cv.css">
    <title>CV Lopez Pablo</title>
</head>
<body>
    <header>
        <img src="/static/img/claudio.jpg" alt="foto-perfil" class="foto-perfil">
        <h1>Pablo Andres López Tarifa</h1>
    </header>
    <main>
        <section class="about-section">
            <h2>Sobre mi</h2>
            <p>Programador, Entusiasta, "Con muchas ganas de seguir aprendiendo y desarrollarme en el mundo de la tecnologia"</p>
        </section>
        <section class="information-section">
            <section class="experience-section">
                <section class="education-section">
                    <h2>Estudios</h2>
                    <ul>
                     <li>Escuela Tecnica nº19 "Alejandro Volta -Tecnico Electronico"</li>
                     <li>Curso "Programacion orientada a objetos -Java"</li>
                     <li>Curso "Programacion orientada a objetos -Python"</li>
                    </ul>
                </section>
                <section class="work-section">
                    <h2>Experiencia</h2>
                    <ul>
                      <li>Servicio tecnico de pc</li>
                      <li>Electronica</li>
                      <li>Electricidad</li>
                    </ul>
                </section>
            </section>
            <section class="contact-section">
                <section class="skills-section">
                    <h2>Skills</h2>
                    <ul>
                     <li>Python</li>
                     <li>Github</li>
                     <li>HTML</li>
                     <li>CCS</li>
                    </ul>
                </section>
                <section class="personal-section">
                    <h2>Contacto</h2>
                    <ul>
                     <li>Email: <a href="pablodos.99@gmail.com">pablodos.99@gmail.com</a></li>
                     <li>Facebook: <a href="https://facebook.com/PABLODOS3K">facebook.com/PABLODOS3K</a></li>
                    </ul>
                </section>
            </section>
        </section>
    </main>
</body>
</html>